@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: top;
    justify-content: center;
    min-height: 100vh;
    background: #fff;
    margin-top: 50px;
}

ul {
    list-style-type: none;
}

li span {
    min-height: 50px;
    margin: 20px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    background-color: transparent;
}

li:hover {
    background-color: #ddd;
}

span img {
    padding-right: 20px;
    vertical-align: middle;
}